<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartPath" value="E:\ExportedDocuments"/>
    <add key="OutputPath" value="E:\FinalDocs"/>
    <add key="DefaultFileName" value="Stat Zip Manuscript Blob"/>
    <add key="LogFilePath" value="E:\UnzipConsole"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>